@import "tailwindcss";
@plugin "@iconify/tailwind4";

@font-face {
    font-family: 'AHAMONO';
    src: url('AHAMONO-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --gray0: #ddd;
    --gray1: silver;
    --gray2: gray;
    --gray3: dimgray;
    --link-color: DarkTurquoise;
    --link-color-on: DeepPink;
}

html {
    box-sizing: border-box;
    user-select: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a,
a:visited {
    color: var(--link-color);
    cursor: default;
    text-decoration: none;
    transition: all 0.5s ease 0s !important;
}

a:hover {
    color: var(--link-color-on);
    text-decoration: none;
    transition: all 0s ease 0s !important;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: bold;
    margin: 0;
}

ul {
    margin-bottom: 0;
    margin-top: 0;
}